<h1><%=@console.name%>'s Homepage </h1>

<h3> Company: <%=@console.company%>
<h3><%=@console.name%>'s Games:
<ul>
<%@console.games.each do |game|%>
<li><%=link_to game.title, game_path(game)%></li>
<%end%>
</ul>
</h3>

<%=link_to "See a Directory of Game Consoles", "/consoles"%>
