<h1><%=@game.title%></h1>

<ul>
  <li>Console: <%=@game.console.name%></li>
  <li>Rating: <%=@game.maturity_rating%></li>
  <li>Price: $<%=@game.price%></li>
  <li>Genre: <%=@game.genre%></li>
</ul>

<%=button_to("Update Game", "/games/#{@game.id}/edit", method: "get")%>
<%=button_to("Delete Game", "/games/#{@game.id}", method: "delete")%>
<br>
<%=link_to "See a Directory of Games", "/games"%>
<br>
<%=link_to "See a Directory of Game Consoles", "/consoles"%>
